<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.soft.base.mapper.SysActuatorMapper">

    <select id="listActuator" resultType="ListActuatorVO">
        select t1.create_time,
               t1.cpu_usage,
               t1.cpu_count,
               t1.memery_used,
               t1.memery_max,
               t1.uptime,
               t1.disk_free,
               t1.disk_total,
               t1.health_db,
               t1.health_disk_space,
               t1.health_mail,
               t1.health_ping,
               t1.health_rabbit,
               t1.health_redis,
               t1.health_ssl,
               t1.health
        from sys_actuator t1
        where t1.create_time between #{startTime} and #{endTime}
          and t1.del_flag = 0
        order by t1.create_time desc
    </select>
    <select id="listActuatorPage" parameterType="ListActuatorPageRequest" resultType="ListActuatorVO">
        select t1.create_time,
               t1.health_db,
               t1.health_disk_space,
               t1.health_mail,
               t1.health_ping,
               t1.health_rabbit,
               t1.health_redis,
               t1.health_ssl,
               t1.health
        from sys_actuator t1
        where t1.create_time between #{request.startTime} and #{request.endTime}
          and t1.del_flag = 0
        order by t1.create_time desc
    </select>
    <select id="getLatestActuatorMetric" resultType="GetLatestActuatorMetricVO">
        select t1.cpu_usage,
               t1.cpu_count,
               t1.memery_used,
               t1.memery_max,
               t1.uptime,
               t1.disk_free,
               t1.disk_total
        from sys_actuator t1 where t1.del_flag = '0' order by t1.create_time desc limit 1
    </select>
    <select id="listCpuTrend" resultType="ListUsageTrendVO">
        select t1.cpu_usage as usageRate,
               t1.create_time
        from sys_actuator t1
        where t1.del_flag = '0'
        <if test="startTime != null and endTime != null">
            and t1.create_time between #{startTime} and #{endTime}
        </if>
        order by t1.create_time
    </select>
    <select id="listMemeryTrend" resultType="ListUsageTrendVO">
        select ROUND(t1.memery_used / t1.memery_max, 2) as usageRate,
        t1.create_time
        from sys_actuator t1
        where t1.del_flag = '0'
        <if test="startTime != null and endTime != null">
            and t1.create_time between #{startTime} and #{endTime}
        </if>
        order by t1.create_time
    </select>
</mapper>
