<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.soft.base.mapper.SysDialogueMapper">

    <select id="getDialogues" resultType="GetDialoguesVo">
        select
        sd.id,
        su.nickname as createBy,
        sd.create_time,
        sd.title,
        sd.top_flag,
        t3.content
        from
        sys_dialogue sd
        join (
        select
        t4.parent_id,
        t4.content,
        (row_number() over (partition by t4.parent_id
        order by
        t4.create_time desc)) as row_num
        from
        sys_dialogue_details t4) t3 on
        sd.id = t3.parent_id and t3.row_num = 1
        join sys_user su on
        sd.create_by = su.id
        where
        sd.del_flag = '0'
        <if test="userId != null and userId != ''">
            and sd.create_by = #{userId}
        </if>
        <if test="keyword != null and keyword != ''">
          <bind name="keyword" value="'%' + keyword + '%'"/>
            and sd.title like #{keyword}
        </if>
        order by sd.create_time desc
    </select>
</mapper>
