<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.soft.base.mapper.SysDictDataMapper">
    <select id="getDictDatas" parameterType="DictDatasRequest" resultType="DictDatasVo">
        SELECT
        sdd.id,
        sdd.label,
        sdd.`value`,
        sdd.is_default,
        sdd.sort_order,
        sdd.`status`
        FROM
        sys_dict_data sdd
        WHERE
        sdd.del_flag = '0'
        AND sdd.parent_id = #{request.parentId}
        <if test="request.keyword != null and request.keyword != ''">
            AND ( sdd.code LIKE concat('%', #{request.keyword}, '%') OR sdd.label LIKE concat('%', #{request.keyword}, '$') )
        </if>
        <if test="request.status != null">
            AND sdd.status = #{request.status}
        </if>
    </select>
    <select id="getDictData" parameterType="java.lang.Long" resultType="DictDataVo">
        SELECT
        sdd.id,
        sdd.label,
        sdd.`value`,
        sdd.is_default,
        sdd.`status`,
        sdd.css_class,
        sdd.list_class,
        sdd.remark,
        sdd.sort_order
        FROM
        sys_dict_data sdd
        WHERE
        sdd.del_flag = '0'
        AND sdd.id = #{id}
    </select>
    <update id="deleteDictDataBatch" parameterType="DeleteRequest">
        UPDATE sys_dict_data sdd
        SET del_flag = '0'
        WHERE
        del_flag = '0'
        AND sdd.id IN
        <foreach collection="request.ids" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>
    <update id="enableDictData" parameterType="java.lang.Long">
        UPDATE sys_dict_data
        SET status = 1
        WHERE del_flag = '0'
        AND id = #{id}
    </update>
    <update id="forbiddenDictData" parameterType="java.lang.Long">
        UPDATE sys_dict_data
        SET status = 0
        WHERE del_flag = '0'
          AND id = #{id}
    </update>
    <update id="setNotDefault" parameterType="java.lang.Long">
        UPDATE
            sys_dict_data
        SET
            is_default = 0
        WHERE is_default = 1
           AND parent_id = #{parentId}
    </update>
    <update id="setDefaultData" parameterType="java.lang.Long">
        UPDATE
            sys_dict_data
        SET
            is_default = 1
        WHERE
            id = #{id}
    </update>
    <select id="getByDictType" resultType="DictDataDto">
        SELECT
            t1.value,
            t1.label
        FROM
            sys_dict_data t1
                JOIN sys_dict_type t2 ON
                t1.parent_id = t2.id
                    AND t2.del_flag = '0'
                    AND t2.status = #{statusEnable}
        WHERE
            t1.del_flag = '0'
          AND t1.parent_id = #{parentId}
          AND t1.status = #{statusEnable}
    </select>
</mapper>
