<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.soft.base.mapper.SysMenuMapper">

    <resultMap id="BaseResultMap" type="com.soft.base.entity.SysMenu">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="parentId" column="parent_id" jdbcType="BIGINT"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="path" column="path" jdbcType="VARCHAR"/>
            <result property="component" column="component" jdbcType="VARCHAR"/>
            <result property="icon" column="icon" jdbcType="VARCHAR"/>
            <result property="type" column="type" jdbcType="CHAR"/>
            <result property="orderNum" column="order_num" jdbcType="INTEGER"/>
            <result property="status" column="status" jdbcType="TINYINT"/>
            <result property="visible" column="visible" jdbcType="TINYINT"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="remark" column="remark" jdbcType="VARCHAR"/>
            <result property="createBy" column="create_by" jdbcType="VARCHAR"/>
            <result property="updateBy" column="update_by" jdbcType="VARCHAR"/>
            <result property="delFlag" column="del_flag" jdbcType="CHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,parent_id,name,
        path,component,icon,
        type,order_num,
        status,visible,create_time,
        update_time,remark,create_by,
        update_by,del_flag
    </sql>

    <select id="getMenuTree" parameterType="java.util.List" resultType="MenusVo">
        SELECT
        sm.id,
        sm.`name`,
        sm.icon,
        sm.path,
        sm.component,
        sm.parent_id AS "parentId"
        FROM
        sys_menu sm
        JOIN sys_role_menu srm ON sm.id = srm.menu_id
        AND sm.del_flag = '1'
        JOIN sys_role sr ON srm.role_id = sr.id
        AND sr.del_flag = '1'
        JOIN sys_user_role sur ON sur.role_id = sr.id
        WHERE
        sur.user_id = #{userId}
        ORDER BY sm.order_num
    </select>
    <select id="getMenuList" parameterType="GetMenuListRequest" resultType="GetMenuListVo">
        SELECT
            sm.`id`,
            sm.`name`,
            sm.type,
            sm.`status`,
            sm.order_num,
            sm.icon
        FROM
            `sys_menu` sm
        WHERE
            sm.del_flag = '1'
        ORDER BY sm.create_time DESC
    </select>
    <select id="getMenu" parameterType="java.lang.Long" resultType="GetMenuVo">
        SELECT
            sm.id,
            sm.parent_id,
            sm.`name`,
            sm.path,
            sm.component,
            sm.icon,
            sm.type,
            sm.order_num,
            sm.`status`,
            sm.visible,
            sm.remark
        FROM
            `sys_menu` sm
        WHERE
            sm.del_flag = '1'
          AND sm.id = #{id}
    </select>
    <select id="getByIds" parameterType="java.util.List" resultType="java.lang.Long">
        SELECT
            sm.`id`
        FROM
            sys_menu sm
        WHERE
            sm.del_flag = '1'
          AND sm.parent_id IN
        <foreach collection="ids" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>
</mapper>
