<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.soft.base.mapper.SysScheduleJobMapper">

    <resultMap id="BaseResultMap" type="com.soft.base.entity.SysScheduleJob">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="createBy" column="create_by" jdbcType="BIGINT"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateBy" column="update_by" jdbcType="BIGINT"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="delFlag" column="del_flag" jdbcType="CHAR"/>
            <result property="jobName" column="job_name" jdbcType="VARCHAR"/>
            <result property="jobGroup" column="job_group" jdbcType="VARCHAR"/>
            <result property="cron" column="cron" jdbcType="VARCHAR"/>
            <result property="jobType" column="job_type" jdbcType="VARCHAR"/>
            <result property="status" column="status" jdbcType="CHAR"/>
            <result property="jobParam" column="job_param" jdbcType="VARCHAR"/>
            <result property="startTime" column="start_time" jdbcType="TIMESTAMP"/>
            <result property="endTime" column="end_time" jdbcType="TIMESTAMP"/>
            <result property="jobInterval" column="job_interval" jdbcType="INTEGER"/>
            <result property="intervalType" column="interval_type" jdbcType="CHAR"/>
            <result property="scheduleType" column="schedule_type" jdbcType="CHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,create_by,create_time,
        update_by,update_time,del_flag,
        job_name,job_group,cron,
        job_type,status
    </sql>
</mapper>
