<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.soft.base.mapper.SysScheduleJobMapper">

    <resultMap id="BaseResultMap" type="com.soft.base.entity.SysScheduleJob">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="createBy" column="create_by" jdbcType="BIGINT"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateBy" column="update_by" jdbcType="BIGINT"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="delFlag" column="del_flag" jdbcType="CHAR"/>
            <result property="jobName" column="job_name" jdbcType="VARCHAR"/>
            <result property="jobGroup" column="job_group" jdbcType="VARCHAR"/>
            <result property="cron" column="cron" jdbcType="VARCHAR"/>
            <result property="jobType" column="job_type" jdbcType="VARCHAR"/>
            <result property="status" column="status" jdbcType="CHAR"/>
            <result property="jobParam" column="job_param" jdbcType="VARCHAR"/>
            <result property="startTime" column="start_time" jdbcType="TIMESTAMP"/>
            <result property="endTime" column="end_time" jdbcType="TIMESTAMP"/>
            <result property="jobInterval" column="job_interval" jdbcType="INTEGER"/>
            <result property="intervalType" column="interval_type" jdbcType="CHAR"/>
            <result property="scheduleType" column="schedule_type" jdbcType="CHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,create_by,create_time,
        update_by,update_time,del_flag,
        job_name,job_group,cron,
        job_type,status
    </sql>
    <select id="getQuartzTasks" parameterType="GetQuartzTasksRequest" resultType="GetQuartzTasksVo">
        select t1.id,
               t1.job_name,
               t1.job_group,
               t1.cron,
               t1.job_type,
               t1.status
        from sys_schedule_job t1
        where t1.del_flag = '1'
          <if test="request.keyword != null and request.keyword != ''">
              <bind name="keyword" value="'%'+ request.keyword + '%'"/>
              and t1.job_name like #{keyword}
          </if>
          <if test="request.status != null and request.status != ''">
              and t1.status = #{request.status}
          </if>
    </select>
</mapper>
