<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.soft.base.mapper.SysScheduleJobMapper">

    <select id="getQuartzTasks" parameterType="GetQuartzTasksRequest" resultType="GetQuartzTasksVo">
        select t1.id,
               t1.job_name,
               t1.job_group,
               t1.cron,
               t1.job_type,
               t1.status,
               t1.schedule_type
        from sys_schedule_job t1
        where t1.del_flag = '0'
          <if test="request.keyword != null and request.keyword != ''">
              <bind name="keyword" value="'%'+ request.keyword + '%'"/>
              and t1.job_name like #{keyword}
          </if>
          <if test="request.status != null and request.status != ''">
              and t1.status = #{request.status}
          </if>
    </select>
    <select id="isStarted" parameterType="java.lang.Long" resultType="java.lang.Boolean">
        select t1.status
        from sys_schedule_job t1
        where t1.del_flag = '0'
          and id = #{id}
    </select>
    <update id="startJob" parameterType="java.lang.Long">
        update sys_schedule_job set status = 1 where del_flag = '0' and id = #{id}
    </update>
    <update id="stopJob" parameterType="java.lang.Long">
        update sys_schedule_job set status = 0 where del_flag = '0' and id = #{id}
    </update>
    <select id="getJob" parameterType="java.lang.Long" resultType="GetJobVo">
        select t1.id,
               t1.job_name,
               t1.job_type,
               t1.job_group,
               t1.job_interval,
               t1.job_param,
               t1.status,
               t1.cron,
               t1.end_time,
               t1.start_time,
               t1.schedule_type,
               t1.interval_type,
               t1.remark,
               t1.job_class
        from sys_schedule_job t1
        where t1.del_flag = '0'
          and t1.id = #{id}
    </select>
</mapper>
